.inner {
    width: 280px;
    margin: 0 auto;
    padding-left: 40px;
    text-align: left;

    &>span {
        display: inline-block;
        min-width: 20px;
        text-align: center;
    }

    .number {
        min-width: 38px;
    }

}

.field {
    display: inline-block;
    text-align: center;

    input {
        width: 50px;
        margin-right: 5px;
        margin-left: 5px;
        padding-right: 6px;
        padding-left: 6px;
    }

    &.correct {

        input,
        input:disabled {
            background-color: greenyellow;
        }
    }

    &.wrong {

        input,
        input:disabled {
            background-color: red;
        }
    }
}

.answer {
    min-width: 38px;
    margin-left: 5px;
    color: greenyellow
}