.timer {
    position: absolute;
    top: 30px;
    right: 30px;

    span {
        display: inline-block;
        min-width: 100px;
        text-align: left;
        font-family: 'Courier New', Courier, monospace;
    }

    span.highscore {
        padding-top: 20px;
        font-size: 14px;
    }

    a {
        font-size: 14px;
    }
}