@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

.app {
  text-align: center;
  position: relative;
}

.app-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  font-size: 30px;
  color: white;
}

.app-select {
  width: 130px;
  height: 130px;
  background-color: yellow;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: black;
  margin-bottom: 20px;
  border: solid 3px black;

  &:hover {
    border: solid 3px gray;
  }

  &:first-of-type {
    background-color: red;
  }

  &:last-of-type {
    background-color: green;
  }

  &:active {
    background-color: blue;
  }
}